<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Polling create form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/javascript.js"></script>
</head>
<body>
<h2 class="text-center">Create your polling</h2>

<div id="row" class="row">
    <div class="col-sm-3"></div>
    <div id="tableDiv" class="col-sm-7"></div>
    <div class="cols-sm-2"></div>
</div>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-2"><button onclick="addRow()">Add another variant</button></div>
    <div class="col-sm-2"><button onclick="createPolling()">Create Polling</button></div>
    <div class="col-sm-4"></div>
</div>
<script type="text/javascript">
    var table = document.createElement("table");
    document.getElementById("tableDiv").appendChild(table);
    table.setAttribute("id", "table");
    table.classList.add("table");
    var body = table.appendChild(document.createElement('tbody'));
    insertRow("name", "Name:");
    insertRow("description", "Description:");
    insertRow("row1", "Value 1:");
    insertRow("row2", "Value 2:");
</script>
</body>
</html>