<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>YourApp</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<h1> HELLO WORLD </h1>
<input type="text" id="data"/>
<a id="post" href="#">POST</a>
<a id="get" href="#">GET</a>

<div id="container"></div>
</body>

<script>
    $('#get').click(function(){
        $.getJSON('/polling/2', {type: "GET", data:"", cache:false}, function(data){
            var showData = $("#show-data");
           console.log(data);

            var buff = "";
            buff += '<li>' + data.id + '</li>';
            buff += '<li>' + data.owner + '</li>';
            buff += '<li>' + data.name + '</li>';
            buff += '<li>' + data.description + '</li>';

            $('#container').html(buff);
        });
    });
/*    $('#get').click(function () {
        $.ajax({
            dataType: 'json',
            type: "GET",
            cache: false,
            url: '/polling/1',
            data: data,
            success: function (response) {
                console.log(response);
                console.log('\n');
                var html = "";
                $.each(response.data, function (i) {
                    console.log(response.data[i]);
                    html = html + response.data[i] + "<br/>";
                });
                $('#container').html(html);
            }
        });
    })*/;

    $('#post').click(function () {
        if (!$("#data").val()) {
            alert("Enter your data!");
        } else {
            $.ajax({
                type: "POST",
                cache: false,
                url: '/persist',
                data: {
                    'data': $("#data").val()
                },
                success: function (response) {
                    $('#get').click();
                }
            });
        }

    });

</script>

</html>