<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script></head>
<body>
<div id="loginForm" class="form" role="dialog">
    <div class="modal-dialog">

        <form name="loginForm" action="/login" method="post" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Input your log in data</h4>
            </div>
            <div class="modal-body">
                <label for="email">Email: </label>
                <input type="text" name="email" id="email" class="form-control"/>
                <br/>
                <label for="password">Password: </label>
                <input type="password" name="password" id="password" class="form-control"/>
            </div>
            <div class="modal-footer row">
                <div class="col-sm-3"><input type="submit" value="Log in" class="btn"/></div>
                <div class="col-sm-5"></div>
                <div class="col-sm-3"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
            </div>
        </form>

    </div>
</div>

</body>
</html>